body {
  font-family: $roboto;
}

.h2 {
  font-size: 50px;
  font-weight: $ultra_bold;

  @include phone {
    font-size: 35px;
  }
}

.h3 {
  font-size: 35px;

  @include phone {
    font-size: 33px;
  }
}
