//Colors
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$black_quality: rgba(22, 22, 22, 1);
$black_transparent: rgba(0, 0, 0, 0.6);
$red: rgba(90, 54, 58, 1);
$gray: rgba(45, 46, 45, 1);
$gray_transparent: rgba(45, 46, 45, 0.9);
$yellow: rgba(232, 192, 97, 1);
$deep_yellow: rgb(241, 151, 48);

//Font
$roboto: "Roboto";

//Font weight
$semi: 600;
$bold: 700;
$ultra_bold: 900;

//Font style
$italic: italic;

//Transitions
$normal: 0.5s all ease-in-out;
